{% extends 'core/base.html' %}

{% block title %}
Get Directions
{% endblock title %}


{% block content %}
    <div class="grid grid-cols-5 gap-6 pt-6">
        <div class="col-span-3 min-h-[500px] rounded-xl" id="nav_map"></div>
        <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
            <h2 class="mb-6 text-2xl text-center">Get Directions</h2>
            <div class="input-group text-center">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.source }}
                    {{ form.destination }}
                    <br>
                    <div class="flex justify-end my-4 mx-16">
                        <button type="submit" class="py-2 px-8 my-4 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white" id="calculateRoute">Go</button>
                    </div>
                </form>
            </div>
            <div id="output">
                <div class="grid grid-cols-5 gap-4 items-center bg-white rounded-xl p-2 ">
                    <div class="col-span-2">
                        <p class="text-lg">From:</p>
                    </div>
                    <div class="col-span-3">
                        <h3 class="text-xl" id="from"></h3>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-4 mt-4 items-center bg-white rounded-xl p-2 ">
                    <div class="col-span-2">
                        <p class="text-lg">To:</p>
                    </div>
                    <div class="col-span-3">
                        <h3 class="text-xl" id="to"></h3>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-4 mt-4 items-center bg-white rounded-xl p-2 ">
                    <div class="col-span-2">
                        <p class="text-lg">Walking Distance:</p>
                    </div>
                    <div class="col-span-3">
                        <h3 class="text-xl" id="distance"></h3>
                    </div>
                </div>
                <div class="grid grid-cols-5 gap-4 mt-4 items-center bg-white rounded-xl p-2 ">
                    <div class="col-span-2">
                        <p class="text-lg">Duration:</p>
                    </div>
                    <div class="col-span-3">
                        <h3 class="text-xl" id="duration"></h3>
                    </div>
                </div>
            </div>
            <div id="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline">Could not retrieve walking distance.</span>
            </div>            
        </div>
    </div>
    {% if logged_in and navigation_history %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Recent Navigations</h2>
        <div class="grid grid-cols-3 gap-3">
            <h3 class="mb-2 font-semibold text-gray-400">
                <ul class="space-y-2">
                    {% for navigation_route in navigation_history %}
                    <li>
                        <a href="#" class="text-lg hover:text-teal-700">
                            {{navigation_route}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </h3>
        </div>
    </div>
    {% endif %}
    {% if navigation %}
    {{ navigation|json_script:"navigation" }}
    {% endif %}
{% endblock content %}
    