{% extends 'core/base.html' %}

{% block title %}
Edit Profile
{% endblock title %}


{% block content %}
    <div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
        <h2 class="text-2xl mb-6 text-center">Update Account Information</h2>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2">Username</label><br>
                {{form.username}}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Email</label><br>
                {{form.email}}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{form.password1}}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Confirm Password</label><br>
                {{form.password2}}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Profile Photo</label><br>
                {{form.photo}}
            </div>
            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                {{field.errors}}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="flex justify-end">
                <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
    