{% extends 'core/base.html' %}

{% block title %}
Explore Makerere Campus
{% endblock title %}

{% block content %}
    <div class="mt-6 px-6 py-4 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-2xl text-center">{{heading}}</h2>
        <div class="relative">
            <div class="w-full min-h-[500px] z-0">
                {{map | safe}}
            </div>
            <div class="absolute top-6 right-6 z-10">
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="input-group bg-white rounded-xl">
                        {{ form.search_query }}
                        <button type="submit">
                            <i class="bi bi-search mx-2"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-6 px-6 py-6 bg-gray-100 rounded-xl">
        <h2 class="mb-6 text-2xl text-center">Places</h2>
        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
            <div>
                <a href="{% url 'favorites' %}">
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{category.name}}</h2>
                        <p class="text-gray-500">{{category.locations.count}} Locations</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {{favorites_json|json_script:"favorites_json"}}
{% endblock content %}
    